
@import "tailwindcss";



body {
 color: #111827; /* Default dark text */
  background: #ffffff; /* Default white background */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bitter {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}