@import "tailwindcss";

body {
 color: #111827; /* Default dark text */
  background: #ffffff; /* Default white background */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}